<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:f="http://xmlns.jcp.org/jsf/core"
  xmlns:h="http://xmlns.jcp.org/jsf/html"
  xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
  xmlns:ic="http://ivyteam.ch/jsf/component"
  xmlns:p="http://primefaces.org/ui">

<!--
DESCRIPTION:
This template uses the freya-ivy theme.

BRANDING:
If you want to brand your dialogs, please take a look at our documentation: https://developer.axonivy.com/doc/10.0/designer-guide/user-interface/branding/index.html

STYLING:
If you want to add custom styles, you can simply add your own .css file (e.g. at the location: "webContent/layouts/styles/style.css")
and refence it below in the head part.
-->

<h:head>
  <f:attribute name="primefaces.THEME" value="#{ivyFreyaTheme.theme}" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><ui:insert name="title">Ivy Html Dialog</ui:insert></title>
  <h:outputScript name="js/layout.js" library="#{ivyFreyaTheme.library}" />
  <h:outputStylesheet name="#{ivyFreyaTheme.layout}" library="#{ivyFreyaTheme.library}" />
  <h:outputStylesheet name="primeflex-2.min.css" library="primeflex" />
  <h:outputStylesheet name="custom.css" library="ivy-branding" />
  <!-- Optional Style or Script files: 
  <h:outputStylesheet name="layouts/styles/style.css" /> 
  -->
</h:head>
<h:body class="body-hd">
  <ui:include src="/layouts/includes/progress-loader.xhtml" />
  <ui:insert name="header">
    <div class="navbar navbar-top">
    </div>
  </ui:insert>

  <div id="content" class="container">
    <ui:insert name="content">
      default content
    </ui:insert>

    <ui:insert name="footer">
      <hr />
      <footer>
        <ui:include src="/layouts/includes/footer.xhtml" />
      </footer>
    </ui:insert>
  </div>
  
  <ui:insert name="exception">
    <ui:include src="/layouts/includes/exception.xhtml" />
  </ui:insert>
</h:body>
</html>