<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:uiconfiguration="http://java.sun.com/jsf/composite/component/ui-configuration"
>
    <h:form id="form-content" styleClass="custom-list-margin">
        <h1>CMS Modifier Tool</h1>
        <p:growl id="growl" showDetail="true" />
        <p:spacer/>
        <p:spacer/>
        <br/>
        <p:outputLabel style="color:red;" value="WARNING: This App is for helping purposes only! You'll use it on your own risk !"/><br/>
        <p:outputLabel style="color:red;" value="It must only be used of a providers system engineer!"/><br/>
        <p:outputLabel style="color:red;" value="The system supplier rejects all warranty claims caused by the improper use of this module!"/><br/>
        <p:spacer/>
        <p:spacer/>
      <h:panelGrid columns="5">
      <p:outputLabel for="@next" value="Project"/>
      <p:selectOneMenu id="projects" value="#{cmsTool.projectName}">
         <f:selectItems value="#{cmsTool.projectNames}"/>
         <p:ajax event="valueChange" listener="#{cmsTool.onChangeProjectName()}" />
      </p:selectOneMenu>
      <h:panelGroup styleClass = "ui-input-icon-left">
        <i class="pi pi-search" />
        <p:inputText placeholder="Start search with TAB key" value="#{cmsTool.searchText}">
          <p:ajax event="change" listener="#{cmsTool.search}"/>
        </p:inputText>
      </h:panelGroup>
      </h:panelGrid>
      <h:panelGrid columns="3">
        <p:tree id="cmsTree" value="#{cmsTool.root}" var="node"
            selectionMode="single"
            selection="#{cmsTool.selectedNode}">
            <p:treeNode>
                <h:outputText value="#{node.getName()}"/>
            </p:treeNode>
            <p:ajax event="select" update="form-content:cmsTable" listener="#{cmsTool.onNodeSelect}" />
        </p:tree>
        <p:dataTable id="cmsTable" var="cmsObject" value="#{cmsTool.cmsObjects}"
            scrollable="true" scrollHeight="600"
            style="margin-top:0px">
        <p:column headerText="Name">
            <h:outputText value="#{cmsObject.name}" />
        </p:column>
        <p:column headerText="Path">
            <h:outputText value="#{cmsObject.path}" />
        </p:column>
        <p:column headerText="Type">
            <h:outputText value="#{cmsObject.type}" />
        </p:column>
        <p:column headerText="Value">
            <h:outputText value="#{cmsObject.value}" />
        </p:column>
        <p:column style="width:3rem;text-align: center">
            <p:commandButton id="editButton" oncomplete="PF('editCmsObjectDialog').show()"
                   icon="pi pi-user-edit" title="Edit"
                   rendered="#{cmsObject.type == 'STRING' ? true : false}"
                   update=":form-content:translations"
                   action="#{cmsTool.extractTranslations()}">
             <f:setPropertyActionListener value="#{cmsObject}"
                   target="#{cmsTool.selectedCmsObject}"/>
             </p:commandButton>
            </p:column>
        </p:dataTable>
      </h:panelGrid>
      <h:panelGrid columns="2">
      <p:fieldset legend="Export" toggleable="true" toggleSpeed="500">
      <h:panelGrid columns="2">
      <p:selectBooleanButton id="cbExportAllTaskListColumn"
        onIcon="fa-solid fa-eye"
        offIcon="fa-solid fa-eye"
        styleClass="margin-right-5"
        value="#{cmsTool.exportOnlyVisibleContentObjects}" 
        title="Export all or visible content Objects">
        <p:ajax event="change" listener="#{cmsTool.onChangeExportOnlyVisibleContentObjects()}" update="@this"/>
      </p:selectBooleanButton>
      <p:commandButton title="#{ivy.cms.co('/dialogs/cms-tool/export-cms')}"
        icon="fa-solid fa-download" 
        actionListener="#{cmsTool.prepareExportFile()}" />
      </h:panelGrid>
      </p:fieldset>
      <p:fieldset legend="Import" toggleable="true" toggleSpeed="500">
      <h:panelGrid columns="1">
      <p:commandButton style="display:none" widgetVar="downloadCms" ajax="false" ignoreAutoUpdate="true">
          <p:fileDownload value="#{cmsTool.downloadExportedCms()}" />
      </p:commandButton>
      <p:growl id="messages" showDetail="true"/>
      <p:fileUpload widgetVar="fileUploadWidget" mode="advanced" dragDropSupport="false" multiple="false"
            allowTypes="/(\.|\/)(xlsx|xls)$/"
            accept=".xls"
            update="messages :form-content:appendButton :form-content:cmsTableDifference"
            invalidFileMessage="only above mentions file types are allowed"
            listener="#{cmsTool.handleFileUpload}"/>
      </h:panelGrid>
      <h:panelGrid columns="2">
        <p:commandButton id="appendButton" value="Append"
            widgetVar="AppendCms"
            icon="pi pi-save"
            update="messages"
            disabled="#{cmsTool.checkCmsDifferenceListEmpty()}"
            action="#{cmsTool.appendDifference}"/>
        <p:dataTable id="cmsTableDifference" widgetVar="cmsTableDifference" var="cmsObject" value="#{cmsTool.cmsObjectsWithDifference}">
        <p:column headerText="Name">
            <h:outputText value="#{cmsObject.name}" />
        </p:column>
        <p:column headerText="Path">
            <h:outputText value="#{cmsObject.path}" />
        </p:column>
        <p:column headerText="Type">
            <h:outputText value="#{cmsObject.type}" />
        </p:column>
        <p:column headerText="Value">
            <h:outputText value="#{cmsObject.value}" />
        </p:column>
        </p:dataTable>
        </h:panelGrid>
      </p:fieldset>
      </h:panelGrid>
      <p:dialog id="edit-dialog" header="Edit CMS Object" widgetVar="editCmsObjectDialog" modal="true" 
              width="600" height="400">
         <p:growl id="msgs" showDetail="true"/>
         <h:panelGrid columns="1">
         <p:dataTable id="translations" var="translation" value="#{cmsTool.translations}" editable="true"
                     editMode="cell" widgetVar="cellTranslations">
            <p:ajax event="cellEdit" listener="#{cmsTool.onCellEdit}" update=":form-content:msgs"/>
            <p:column headerText="Language">
                  <h:outputText value="#{translation.language}"/>
            </p:column>
            <p:column headerText="Content">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{translation.content}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{translation.content}" style="width:100%" label="Content" >
                        </p:inputText>
                    </f:facet>
                </p:cellEditor>
            </p:column>
            <p:column>
                <p:commandButton id="DeleteCmsObject"
                   icon="pi pi-trash"
                   update=":form-content:translations"
                   action="#{cmsTool.removeCmsObject}">
                   <f:setPropertyActionListener value="#{translation}"
                       target="#{cmsTool.selectedTranslation}"/>
                </p:commandButton>
            </p:column>
        </p:dataTable>
        </h:panelGrid>
        <h:panelGrid columns="1">
        <p:commandButton id="addLanguage" value="Add Language"
          icon="pi pi-plus"
          disabled="#{cmsTool.failOnStartUp()}"
          oncomplete="PF('addCmsObjectDialog').show()"/>
        </h:panelGrid>
      </p:dialog>
      <p:dialog id="add-csm-dialog" header="Add CMS Object" widgetVar="addCmsObjectDialog" modal="true"
             width="500" height="350">
         <h:panelGrid columns="3">
         <p:outputLabel value="Languages" for="@next"/>
                <p:autoComplete id="acLanguages" value="#{cmsTool.selectedLanguage}"
                                completeMethod="#{cmsTool.completeLanguage}" scrollHeight="250"/>
                <p:inputText value="#{cmsTool.content}" label="Content"/>
         </h:panelGrid>
         <h:panelGrid columns="2">
         <p:commandButton id="addLanuague" value="Add CMS Object"
             icon="pi pi-save"
             update="messages translations"
             action="#{cmsTool.addCmsObject}"
             oncomplete="PF('addCmsObjectDialog').hide()"/>
         </h:panelGrid>
      </p:dialog> 
</h:form>
</ui:composition>
